{% extends "layouts/default.html.twig" %}

{% block title %}Сокращатель ссылок{% endblock %}

{% block main %}

    <div class="rounded-2 p-5 bg-body bg-body-secondary">
        {{ form_start(form) }}
            <div class="d-flex justify-content-between align-items-end">
                <div class="flex-grow-1">
                    {{ form_row(form.urlTarget) }}
                </div>

                <div>
                    <button type="submit" class="btn btn-primary ms-5 mb-3">Сократить</button>
                </div>
            </div>
        {{ form_end(form) }}

        {% if currentLink %}
            <div>
                <p><strong>Текущая ссылка</strong></p>
                <p {% if app.environment == 'test' %}id="link-short"{% endif %}><strong>Сокращенная ссылка:</strong>
                    <a href="{{ url('base_redirect', { code: currentLink.shortCode }) }}">{{ url('base_redirect', { code: currentLink.shortCode }) }}</a>
                </p>
                <p {% if app.environment == 'test' %}id="link-full"{% endif %}><strong>Полная ссылка:</strong>
                    <a href="{{ (currentLink.urlTarget) }}" target="_blank">{{ (currentLink.urlTarget) }}</a>
                </p>
            </div>
        {% endif %}

        {% if links|length > 0 %}
            <div class="mt-5">
                <h3>Ранее сокращенные ссылки ({{ links|length }})</h3>

                <div class="list-group">
                    {% for link in links %}
                        {% set linkUrl =  url('base_redirect', { code: link.link.shortCode }) %}
                        <div class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center me-2">
                                        <img width="40" height="40" src="{{ link.icon }}" alt="favicon of {{ link.link.urlTarget }}">
                                    </div>
                                    <div class="d-flex flex-column justify-content-between align-items-start">
                                        <a href="{{ linkUrl }}" target="_blank">
                                            {{ linkUrl }}
                                        </a>
                                        <small>{{ link.link.urlTarget  }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock main %}
